*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --lightblue: #6BC7C6;
    --darkblue: #799DD0;
    --purple: #BBB4D8;
    --lightpurple: #DAD4DE;
    --ivoire: #F4F0E3;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
}


.home-screen {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: url(img/fond-nuageux.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
    margin: 0;
}

img.logo-titre{
    width: 821px;
}
h2 {
    margin:0;
    color: var(--ivoire);
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;  
    padding-left: 561px;
    bottom: 30px;
    position: relative;
}

@media screen and (max-width: 950px){
    img.logo-titre{
        width: 500px;
    }

    h2{
        font-size: 1.4rem;
        padding-left: 300px;
    }
    
}

@media screen and (max-width: 600px){
    img.logo-titre{
        width: 300px;
    }

    h2{
        font-size: 1rem;
        padding-left: 165px;
    }
}



.section1{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 8vw;
    align-items: center;
    height: 100vh;
}

span.nomber{
    font-size: 8rem;
    font-family: "Kodchasan", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--lightblue);
}

p{
    font-size: 2rem;
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--darkblue);
    width: 30vw;
}